[submodule "Workshops"]
	path = Workshops
	url = https://github.com/Knuth-Programming-Hub/Workshops.git
[submodule "CP-Resources"]
	path = CP-Resources
	url = https://github.com/Knuth-Programming-Hub/CP-Resources.git
[submodule "Knuth-Contests"]
	path = Knuth-Contests
	url = https://github.com/Knuth-Programming-Hub/Knuth-Contests.git
